/* styles.css */

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-image: url('Man.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  animation: backgroundAnimation 20s linear infinite;
  margin: 0;
  padding: 0;
}

@keyframes backgroundAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

header {
  background-image: url("Ligne.jpg");
  color: transparent;
  text-align: center;
  padding: 10px;
  text-shadow: 0 0 5px rgba(46, 20, 20, 0.2);
  transition: text-shadow 0.3s ease; 
}

header:hover {
  text-shadow: none;
  color: #4d450a;
  font-size: 30px;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(240, 108, 121);
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 24px;
}

nav a:hover {
  color: #33ff58;
}

main {
  margin: 50px;
}

section {
  filter: blur(5px);
  transition: filter 0.2s ease;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(230, 11, 11, 0.2);
  filter: blur(0);
}

h1 {
  font-size: 35px;
  color: #ff5733; 
}

h2 {
  font-size: 33px;
  color: #f7ff0a;
}

h3 {
  font-size: 24px;
  color: #d147cc;
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: rgb(91, 214, 244);
}

ul {
  font-size: 16px;
}

a {
  text-decoration: underline;
  color: #49e9c1;
  font-size: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  color: #5ae0e4;
  padding: 10px;
}

th {
  background-color: #333;
  color: #fff;
}


/* styles.css */

/* Style du formulaire */
form {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style des labels */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

/* Style des champs de saisie */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style des boutons radio */
input[type="radio"] {
  margin-top: 5px;
}

/* Style du bouton d'envoi */
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background: #555;
}


p span {
  background: rgb(147, 209, 147);
}


img {
  max-width: 160px;
  max-height: 160px;
  display: block;
  margin: 0 auto;
}